*.egg-info
*.pyc
*.rdb
*.sqlite
*.swo
*.swp
../.Python
.coverage
.DS_Store
.idea
.pytest
.python-version
.tox
.vagrant/
/coverage/
/folder.png
/LOCAL
/var/
/venv/
chromedriver.log
MANIFEST
~build
.env
*.pyc
__pycache__/
staticserve/
*.log
*.sqlite3
