{% extends 'base.html' %}
{% block title %}Our Services - Company Name{% endblock %}
{% block content %}
<section class="py-5">
    <div class="container">
        <h2 class="col text-center">Our Services</h2>
        <div class="row">
            <!-- <div class="col-md-4">
                <h4>Corporate Security</h4>
                <p>Protecting businesses with tailored security strategies and onsite security personnel.</p>
            </div>
            <div class="col-md-4">
                <h4>Event Security</h4>
                <p>Ensuring safety and security at public, private, and corporate events of all sizes.</p>
            </div>
            <div class="col-md-4">
                <h4>Consultancy Services</h4>
                <p>Providing expert security consultancy to assess risks and create efficient protection plans.</p>
            </div> -->

            {% for service in services %}
                <div class="col-md-4">
                    <h4>{{ service.title }}</h4>
                    <p>{{ service.description }}</p>
                </div>
            {% empty %}
                <p>No services available at the moment.</p>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
